@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

#root {
  width: 100%;
}

/*Color Variables*/
:root {
  --bgColor: #4f4340;
  --borderColor: #793c47;
  --textColor: #f9bf71;
  --buttonColor: #ff873f;
  --logColor: #a2503d;
  --extraButtonColor: #633025;
}
body {
  font-family: "Chakra Petch", sans-serif;
  background-color: var(--bgColor);
  margin: 0;
}

body:before {
  z-index: -1;
  position: fixed;
  left: 0vw;
  right: 0vw;
  top: 0vw;
  bottom: 0vw;
  width: auto;
  height: auto;
  overflow: hidden;
  content: "";
  background: url("bg.jpg") no-repeat fixed center;
  background-size: cover;
  opacity: 0.1;
}
.container {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Board Component Styles */

.textArea {
  color: var(--textColor);
  text-align: center;
  font-size: 32px;
  text-decoration: none;
}

.text {
  color: var(--buttonColor);
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(156, 156, 156, 0.5);
  border-radius: 20px;
  border: transparent;
}