.container-f {
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
}
.image {
  height: 4em;
  width: 4em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.city-icon {
  content: url("cityIcon.png");
}
.temp-icon {
  content: url("tempIcon.png");
}
.weather-icon {
  content: url("weatherIcon.png");
}
.text-f {
  color: var(--buttonColor);
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  font-size: 32px;
  text-decoration: none;
}
